<div class="conteiner">
  <h1 class="title">Productos</h1>
  <h2>Bienvenido {{user.first_name}} {{user.last_name}}</h2>

  <div>
    {{#if user.cart}}
    <a href="/api/carts/{{user.cart}}"><button>Ir al carrito</button></a>
    {{/if}}
  </div>

  <a href="/api/sessions/logout"><button>Logout</button></a>

  <div class="row conteiner-products" style="column-gap: 1rem; row-gap: 1rem;">
    {{#if user}}
    {{#each products}}
    <div class="col-md-4 card-product">
      <p class="name">{{this.title}}</p>
      <figure>
        <img src="{{this.thumbnail}}" alt="">
      </figure>
      <p class="price">{{this.price}}</p>
      <a href="#" class="btn btn-outline-dark product-detail-link" data-product-id="{{this._id}}">Más información</a>
    </div>
    {{/each}}
    {{/if}}
  </div>


  <div class="text-center">
    {{#if hasPrevPage}}
    <a href="?page={{prevPage}}" class="btn btn-outline-dark">Anterior</a>
    {{/if}}

    <label for="">{{page}}</label>

    {{#if hasNextPage}}
    <a href="?page={{nextPage}}" class="btn btn-outline-dark">Siguiente</a>
    {{/if}}
  </div>
</div>

<script src="/js/product.js"></script>