<div>
    <p>Home/Mujer/{{this.title}}</p>
    <div>
        <div>
            <figure>
                <img src="{{this.thumbnail}}" alt="">
            </figure>
        </div>
        <div>
            <h1>{{this.title}}</h1>
            <strong><p>${{this.price}}</p></strong>
            <p>{{this.description}}</p>
            <p>{{this.stock}}</p>
            <button class="btn btn-outline-dark">Agregar al carrito</button>
        </div>
    </div>
</div>