<div>
    <div>
        <label id="user_role">{{user.role}}</label>
        <p>{{user.cart}}</p>
    </div>
</div>
<p><a href="/views/products">Home</a>/{{product.category}}/{{product.title}}</p>
<div>
    <div>
        <figure>
            <img src="{{product.thumbnail}}" alt="img del producto">
        </figure>
    </div>
    <div>
        <h1>{{product.title}}</h1>
        <p>${{product.price}}</p>
        <p>{{product.description}}</p>
        <p>{{product.stock}}</p>
        {{!-- <form action="/api/carts/{{user.cart}}/products/{{product._id}}" method="POST">
            <button type="submit" class="btn btn-outline-dark">Agregar a carrito</button>
        </form> --}}
        <button type="button" class="btn btn-outline-dark" id="purchase" data-productid="{{product._id}}"
                data-cartid="{{user.cart}}">Agregar al Carrito</button>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/productDetail.js"></script>